<br>
<h1>My Teams</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="text-center">Team</th>
        <th scope="col" class="text-center">League</th>
        <th scope="col" class="text-center"></th>
        <th scope="col" class="text-center"></th>
        <th scope="col" class="text-center"></th>
      </tr>
    </thead>

    <tbody>
      <% @my_teams.each do |my_team| %>
      <tr>
        <td><%= link_to my_team.name, my_team %></td>
        <td><%= my_team.league %></td>
        <td><%= link_to 'Edit', edit_my_team_path(my_team) %></td>
        <td><%= link_to 'Delete', my_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<div>

<br>

<%= link_to 'Add team', new_my_team_path %>
