<div class="container mt-5">
  <div class="card mx-auto" style="width: 18rem;border:none">
    <div class="card-body">
      <h5 class="card-title"><%= @article.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <%= time_ago_in_words(@article.created_at) %> ago
      </h6>
      <p class="card-text" style="border-top: 1px solid #ccc;border-bottom: 1px solid #ccc">
        <%= @article.text %>
      </p>
      <%= link_to "Back", articles_path, class: "card-link" %>
      <%= link_to "Edit", edit_article_path(@article), class: "card-link" %>
    </div>
  </div>
  <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addComment" aria-expanded="false" aria-controls="addComment">
      Add a comment
    </button>
  </p>
  <div class="collapse" id="addComment">
    <div class="card card-body"><%= render 'comments/form' %></div>
  </div>

  <h4>Comments</h4>

  <%= render @article.comments %>

  <%= console %>
</div>
