<%= form_for @user do |form| %>
 
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </p>
 
  <p>
    <%= form.label :email %><br>
    <%= email_field(:user, :email) %>
  </p>
  
  <p>
    <%= form.label :password %><br>
    <%= password_field_tag(:password) %>
  </p>
  
    <p>
    <%= form.label :phone %><br>
    <%= telephone_field(:user, :phone) %>
  </p>
  
  <p>
    <%= form.submit %>
    <%= submit_tag("Reset", { :name => 'reset', :id => 'reset', :type => 'reset',
    :class => 'btn btn-default'}) %>
  </p>
 
<% end %>