<img
  src="https://nhl.bamcontent.com/images/actionshots/8479318.jpg",
  style="width:100%"
  alt="leafs"/>
  
<% if @players.empty? %>
<br>
<h5>No players, click below to add a player</h5>
<%= link_to "New player", new_player_path, class: "btn btn-primary" %>

<% else %>

<table class="table">
    <tr>
        <th scope="col" class="text-center">First Name</th>
        <th scope="col" class="text-center">Last Name</th>
        <th scope="col" class="text-center">Birth Date</th>
        <th scope="col" class="text-center">Age</th>
        <th scope="col" class="text-center"></th>
    </tr>

    <% @players.each do |p| %>
    <tr>
        <td><%= p.first_name %></td>
        <td><%= p.last_name %></td>
        <td><%= p.born_on %></td>
        <td><%= age(p.born_on) %></td>
        <td><%= link_to "Delete", player_path(p.id),
        method: :delete,
        data: { confirm: "Are you sure?" } %></td>
    </tr>
    <% end %>
</table>
<%= link_to "New player", new_player_path, class: "btn btn-primary" %>

<% end %>
