<%= image_tag("leafs.jpeg") %>


<%= link_to "New player", new_player_path %>

<% if @players.empty? %>

<h2>No players, please enter a player</h2>

<% else %>

<table class="table">
    <tr>
        <th scope="col" class="text-center">First Name</th>
        <th scope="col" class="text-center">Last Name</th>
        <th scope="col" class="text-center">Birth Date</th>
        <th scope="col" class="text-center">Age</th>
        <th scope="col" class="text-center"></th>
    </tr>

    <% @players.each do |p| %>
    <tr>
        <td><%= p.first_name %></td>
        <td><%= p.last_name %></td>
        <td><%= p.born_on %></td>
        <td><%= age(p.born_on) %></td>
        <td><%= link_to "Delete", player_path(p.id),
        method: :delete,
        data: { confirm: "Are you sure?" } %></td>
    </tr>
    <% end %>
</table>

<% end %>
