<table class='leafs'>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Age</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Jersey Number</th>
        <th>Shooting Hand</th>
        <th>Birth Place</th>
        <th>Draft</th>
    </tr>
<% @players.map do |p| %>
    <tr>
        <td><%= p['full_name'] %></td>
        <td><%= status(p['status']) %></td>
        <td><%= age(p['birthdate']) %></td>
        <td><%= height(p['height']) %></td>
        <td><%= (p['weight']) %>lbs</td>
        <td><%= p['jersey_number'] %></td>
        <td><%= p['handedness'] %></td>
        <td><%= p['birth_place'] %></td>

        <% if p['draft'] %>
            <td><%= draft(p['draft']) %></td>
        <% else %>
            <td>Undrafted</td>
        <% end %>
    </tr>
    <% end %>
</table>
